spring:
  application:
    name: kotlin-microservices

  datasource:
    url: jdbc:h2:mem:taskdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true

server:
  port: 8080

logging:
  level:
    com.reynanwq: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG